@{
    ViewBag.Title = "Home Page";
}
<p>
    <strong>Message from FooFilterAttribute:</strong><br />
    @ViewBag.fooMessage<br />
    <strong>Message from Global Attribute:</strong><br />
    @ViewBag.globalMessage<br />
    <strong>Message from Home Filter</strong><br />
    @ViewBag.homeMessage<br />
    <strong>Message from Home Action Filter:</strong><br />@ViewBag.homeActionMessage<br />
</p>
