@{ LayoutPage = "~/Views/Shared/_Master.cshtml"; }
@section title {
    Home Page
}
<h2>@ViewData["Message"]</h2>
<p>
    To learn more about ASP.NET MVC Razor Integration visit <a href="http://weblogs.asp.net/rashid">http://weblogs.asp.net/rashid</a>.
</p>